.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border: none;
  
  &:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 300px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
  }

  .card-content-wrapper {
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(50, 50, 50, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 0 0 0.5rem 0.5rem;

  }
  
  .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    z-index: 2;
    gap: 1rem;
  }

  .card-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 1px solid white;
    align-content: center;
    align-self: center;
  }

  .card-text {
    font-size: 1rem;
    color: white;
  }

  .card-date {
    font-size: 0.8rem;
    color: white;
  }
  .card-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: white;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
            line-clamp: 1; 
    -webkit-box-orient: vertical;
  }
}

.list-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Para uma rolagem mais suave no iOS */
  padding: 10px 0; /* Ajuste o espaçamento conforme necessário */
}

.list-container::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem no Webkit (Safari, Chrome) */
}

.list-container > app-content-card {
  flex: 0 0 auto; /* Impede que os itens encolham */
  margin-right: 10px; /* Espaçamento entre os cartões */
}

