.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  
  &:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 350px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-title {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}
