<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CinePath</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="changeRenderType('movie')">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeRenderType('tv')">TV Shows</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<main *ngIf="renderType === 'movie'" style="width: 100%; height: 100%;justify-content: center;">
  <app-content-carrousel [movies]="moviesPopular?.results ?? []" />

  <app-content-list [list]="moviesPopular?.results ?? []" title="Recomendado"></app-content-list>
  <app-content-list [list]="topRated?.results ?? []" title="Melhor Avaliado"></app-content-list>
  <app-content-list [list]="upcomingMovies?.results ?? []" title="Está por Vir"></app-content-list>
</main>

<main *ngIf="renderType === 'tv'" style="width: 100%; height: 100%;justify-content: center;">
  <app-content-list-show [list]="tvAiringToday?.results ?? []" title="No ar"></app-content-list-show>
  <app-content-list-show [list]="tvPopular?.results ?? []" title="Popular"></app-content-list-show>
  <app-content-list-show [list]="tvTopRated?.results ?? []" title="Melhor Avaliado"></app-content-list-show>
</main>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>