<!-- <div *ngFor="let item of favorites ">
    <ng-container *ngIf="isMovie(item)">
        <div class="item-item">
            <app-content-card class="col-md-2 mb-4" [title]="item.title || ''"
            [year]="item.release_date || ''" [rating]="item.vote_average || 0"
            [img]="item.poster_path ? 'https://image.tmdb.org/t/p/w500' + item.poster_path : 'assets/no-image.png'"
            [id]="item.id || 0" ></app-content-card>
        </div>
    </ng-container>

    <ng-container *ngIf="isShow(item)">
        <div class="show-item">
            <h3 style="color: white"> SERIE</h3>
        </div>
    </ng-container>
</div> -->

<div class="favorite-container">

    <div *ngIf="favorites">
        <div *ngIf="favorites.length > 0">
            <h1 class="section-title" style="font-size: xx-large; color: white;">Filmes</h1>
            <div style="display: flex; flex-wrap: wrap; gap: 0.5rem;" class="col-12">
                <div *ngFor="let item of favorites">
                    <div *ngIf="isMovie(item)">
                        <app-content-card class="col-md-2 mb-4" [title]="item.title || ''" [year]="item.release_date || ''" [rating]="item.vote_average || 0" [img]="item.poster_path ? 'https://image.tmdb.org/t/p/w500' + item.poster_path : 'assets/no-image.png'" [id]="item.id || 0" [type]="'movie'"></app-content-card>
                    </div>
                </div>
            </div>

            <h1 class="section-title" style="font-size: xx-large; color: white;">Séries</h1>

            <div style="display: flex; flex-wrap: wrap; gap: 0.5rem;" class="col-12">
                <div *ngFor="let item of favorites">
                    <div *ngIf="isShow(item)">
                        <app-content-card class="col-md-2 mb-4" [title]="item.name || ''" [year]="item.first_air_date || ''" [rating]="item.vote_average || 0" [img]="item.poster_path ? 'https://image.tmdb.org/t/p/w500' + item.poster_path : 'assets/no-image.png'" [id]="item.id || 0" [type]="'tv-show'"></app-content-card>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>