<div class="container" style="backdrop-filter: blur(5px); position: relative; margin-top: 2rem;">
  <img src="{{backdropImg}}" width="100%" height="400px" style="object-fit: cover;">
  <div style="position: absolute; bottom: 0; color: white; background-color: rgba(0, 0, 0, 0.5); height: 100%; width: 100%;">
    <div style="padding: 2rem; display: flex; flex-direction: column;">
      <h1>{{movie.title}}</h1>
      <p>{{parseToDate(movie.release_date || '')}} </p>

      <div style="position: absolute; bottom: 100px; align-self: self-end; ">
        <button class="btn " style="display: flex; background-color: #BF89F2; border-radius: 100%; padding: 10px; align-items: center;">
          <mat-icon style="color: white;">add</mat-icon>
        </button>
      </div>



    </div>

  </div>
</div>