<div class="content-card card" (click)="navigateToDetailPage()">
  <img [src]="img" [alt]="title" class="card-img-top" />
  <div class="card-content-wrapper">
    <div class="card-body">
      <div class="col">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-date">{{ parseDate(year) }}</p>
      </div>

      <div class="card-rating">
        <mat-icon aria-hidden="false" (aria-label)="{rating}" fontIcon="star" style="color: white; width: 30;"></mat-icon>
        <p class="card-text">{{ rating.toFixed(1) }}</p>
      </div>
    </div>
  </div>
</div>